<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% if form.errors %}
    <p>Invalid login credentials</p>
  {% endif %}
  <form method="POST">{% csrf_token %}
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="login" />
  </form>
  <a href="{% url 'about' %}">Sign Up</a>
</body>
</html>

