<header style="text-align: right;text-transform: uppercase;">
  {% if user %}
    <p>Logged in as <b>{{ user.current_user }}</b></p>
    <p>Group: <b>{{ user.group }}</b></p>
  {% else %}
    <a href="/almalikmahmudscrumy/accounts/login">Login</a>
  {% endif %} 
</header>
