<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <style>
    th, td {
      border: 2px solid #e5e5e5;
      padding: 5px 10px;
    }
  </style>
</head>
<body>
  {% include "almalikmahmudscrumy/header.html" with user=user %}
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.weekly_goals | safe }} </td>
        <td>{{ user.daily_goals | safe }}</td>
        <td>{{ user.verify_goals | safe }}</td>
        <td>{{ user.done_goals | safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <a href="{% url 'add_goal' %}">New goal</a>
</body>
</html>
